@import "../../index.css";


.container {
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    margin-inline-start: 50px;
    margin-left: 90px;
    padding-bottom: 200px;
    
  }

  
.card-container {
    width: 330px;
    height: 440px;
    display: grid;
    justify-content: center;
    align-items: center;
    border: none;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    border-radius: 8px;
    background-color: #f1f1f1;
    margin-left: 15px;
    overflow: hidden;
    
    
}

.card-container:hover {
    background: #ffffff;
    transition: 0.3s ease-in-out;
    border: none;
    
}

.title-project {
    font-size: 30px;
    font-weight: 600;
    padding-left: 20px;
    padding-top: 10px;
    padding-bottom: 20px;
    padding-right: 15px;
}

.stacks {
    color: var(--link-color);
    font-size: 30px;
    padding-left: 20px;
  }
  
  .stacks > *:not(:last-child) {
    margin-right: 10px; /* Adjust the value as needed for the desired spacing */
  }
  
.project-description {
    display: flex;
    padding: 20px;
    margin-left: 0;

}

.bottom-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    padding-bottom: 15px;
}


.icons {
    padding-left: 0px;
}

.link {
   
    font-size: 25px;
    color: var(--link-color);
}

.github {
    padding-left: 10px;
    font-size: 25px;
    color: var(--link-color);
}


.link:hover,
.github:hover {
    color: var(--primary-color);
}

.tags {
    font-size: 12px  !important;
    background-color: #e4e4e7;
    padding: 5px 10px;
    border-radius: 15px;
}


@media (max-width: 600px) {
    .container {
        display: flex;
        justify-content: center;
        align-items: center;
        width: auto;
        margin-left: 5px;
        margin-bottom: 10px;
    }

    .project-description {
        display: flex;
        padding: 25px;
        margin-left: 0;
    
    }
    .card-container {
        margin-left: 0;
    }
    
    .title-project {
        font-size: 20px;
    }
    .stacks {
        font-size: 30px;
        padding-bottom: 0px;
    }
}