    
    .column {
        height: 435px;
        width: 600px;
        position: absolute;
        margin-left: 445px;
        margin-top: 1299px;
    }
    
    .news {
        height: 435px;
        width: 600px;
        position: absolute;
        margin-left: 445px;
        margin-top: 662px;
    }
    
    .password {
        height: 435px;
        width: 600px;
        position: absolute;
        margin-left: 445px;
        margin-top: 20px;
    }