@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    
:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  /* ------- colors ------- */
	--primary-color: #27272a;
	--secondary-color: #f1f1f1;
	--tertiary-color: #acacb4;
	--quaternary-color: #e4e4e7;
	--link-color: #df8806;
	/* ---------------------- */


  color-scheme: light dark;
  color: var(--primary-color);
  background-color: var(--quaternary-color);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

  h1 {
    font-weight: 700;
    font-size: 3.5em;
    line-height: 1.2;
  }

  h2 {
    font-size: 2em;
    font-weight: 700;
  }
}




